---
layout: page
format: item
---

<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="cell small-12 medium-6 large-4 card">
			<div class="card-thumbnail float-right">
		
			{% if item.photo %}
				{% assign ItemPhotoResult = item.photo %}
			{% else %}
				{% capture ItemImagePath %}{{ urlitemimg }}{{ ItemID }}{% endcapture %}
				{% for static_file in site.static_files %}
					{% if static_file.path contains '/assets/items/' and static_file.path contains ItemImagePath %}
						{% unless static_file.path contains ".md" %}
							{% capture ItemPhotoResult %}{{site.baseurl}}{{static_file.path}}{% endcapture %}
							{% endunless %}
						{% break %}
					{% endif %}
				{% endfor %}
			{% endif %}
		
		{% if ItemPhotoResult.size > 0 %}
				<img src="{{ ItemPhotoResult }}" alt="{{ page.shortdesc }}">
		{% endif %}
			</div>
		</div>

		<div class="cell medium-6 large-8 float-left">

<p><strong>Use when you want students to:</strong> <ul>{% for point in page.shouldiuse['points'] %}<li>{{ point }}{% endfor %}</ul>

<p><strong><a href="#what-learning-goals-does-this-template-support">Meets {{page.format}} standards:</a></strong><ul> {% for learningoutcome in page.disciplinarylearningoutcomes %}<li>{{ learningoutcome.outcome }}{% endfor %}</ul>

<p><strong>Disciplinary data literacy skills:</strong><ul>{% for learningoutcome in page.datalearningoutcomes %}<li>{{ learningoutcome.outcome }}{% endfor %}</ul>

		</div>
	</div>
	<div class="grid-x grid-padding-x">
		<div class="large-12 cell" markdown=1>

<h2>About this network</h2>

{{ page.shouldiuse['text'] | markdownify }}

<p><strong>SUCCESS STORIES:</strong> {{ page.shouldiuse['success']}}

<p><strong>TEXTS THAT WORK:</strong> {{ page.shouldiuse['bestsources']}}


<h2>Play with a sample network</h2>

<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true" role="tablist">
  <li class="accordion-item" data-accordion-item role="tab" aria-controls="{{ page.networktemplate.title }}">
    <a href="#" class="accordion-title">{{ page.networktemplate.title | markdownify }}</a>
    <div class="accordion-content" data-tab-content role="tabpanel" aria-labelledby="network">
    <p>Explore the network by dragging nodes around, looking at the details for a few nodes and edges, and opening up the Nodes and Edges tables.
      <iframe
        id="ncFrame"
        width="100%"
        height="750"
        title="Net.Create ELA Character Traits Network"
        src="https://samplenetworks2025.kalanicraig.com/?dataset={{ page.networktemplate.shortname }}#/">
      </iframe>
    </div>
  </li>
</ul>

		</div>
	</div>
</div>
		</div>
	</div>
</div>
<!--break out of page.html divs-->



<div class="callout" width="100%">
<div class="grid-container">

<h2 id="how-should-i-use-this-in-my-classroom">How should I use this in my classroom?</h2>

</div>
</div>

<div class="grid-container" style="margin-bottom: 1rem;">
	<div class="grid-x grid-padding-x">
		<div class="large-12 cell">

<h3 id="network-details-what-should-my-students-and-i-be-tracking">Network Details: What should my students and I be tracking?</h3>

<p>For any network, students will track nodes (things) and edges (relationships between things), each of which will also have "attributes" (which include mandatory info like citations and optional info like extra notes).

		</div>
	</div>
	<div class="grid-x grid-padding-x align-top">
		<div class="cell medium-6 align-left" markdown=1>

<h4>Nodes (things being connected)</h4>

{{page.nodetypeintro | markdownify }}


<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
{% for node in page.nodetypes %}
<li class="accordion-item" data-accordion-item>
<a href="#" class="accordion-title">{{ node.title }}</a>
<div class="accordion-content" data-tab-content >{{ node.description }}</p></div>
</li>
{% endfor %}
</ul>
</div>
		<div class="cell medium-6 align-left" markdown=1>


<h4>Edges (connection types)</h4>

{{page.edgetypeintro | markdownify }}


<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true" role="tablist">
{% for edge in page.edgetypes %}
<li class="accordion-item" data-accordion-item role="tab"  aria-controls="edge-title-{{ edge.title }}">
<a href="#" class="accordion-title">{{ edge.title }}</a>
<div class="accordion-content" data-tab-content  role="tabpanel" aria-labelledby="edge-title-{{ edge.title }}">{{ edge.description }}</p></div>
</li>
{% endfor %}
</ul>
</div>
</div>

	<div class="grid-x grid-padding-x">
		<div class="large-12 cell">

<h2 id="what-learning-goals-does-this-template-support">What learning goals does this template support?</h2>
<table class="stack hover unstriped">
<tr><th colspan=2 class="tabledivider">Disciplinary Standards</th></tr>
{% for learningoutcome in page.disciplinarylearningoutcomes %}
<tr><th class="learningoutcomes">{{ learningoutcome.outcome }}</td><td>{{ learningoutcome.description }}</td></tr>
{% endfor %}
<tr><th colspan=2 class="tabledivider">Disciplinary Data Literacy Goals</th></tr>
{% for learningoutcome in page.datalearningoutcomes %}
<tr><th class="learningoutcomes">{{ learningoutcome.outcome }}</td><td>{{ learningoutcome.description }}</td></tr>
{% endfor %}
</table>

<h3 id="general-netcreate-tips-tricks-and-documentation">Lesson-Specific Resources and Examples</h3>

<p><em>The following files are in PowerPoint .PPTX and Word .DOCX format. If you use Google Docs, you should be able to import these into Google Slides and Google Docs with minimal formatting changes.</em></p>

{% for example in page.examples %}
<strong>{{ example.lesson | markdownify }}</strong>
    <ul>
    {% for resource in example.resources %}
      <li><a href="{{ site.urlresources }}{{ resource.link }}" target="_blank">{{ resource.title }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}

<p><strong>How to integrate this lesson into your classroom:</strong> {{ page.time }}

<h3 id="general-netcreate-tips-tricks-and-documentation">General Net.Create Tips, Tricks and Documentation</h3>

<h4 id="quick-tips">Quick Tips</h4>
<table class="stack hover unstriped">
<tr><th class="learningoutcomes">Citations matter!</td><td>The <strong><em>Provenance</em></strong> tab can help your students find and vet evidence.</td></tr>
<tr><th class="learningoutcomes">Your comments can guide students.</td><td>Use the <strong><em>comment</em></strong> feature to call student attention to specific actions they can take to understand the content and data-literacy learning you're doing</td></tr>
<tr><th class="learningoutcomes">Break data entry and analysis into two lessons</td><td>Node-and-edge entry on day one can give you time to focus on student reading comprehension. A second lesson using node/edge gravity, tables and the "Analysis" tab can help with content analysis and data-literacy learning. <em>Check out the “Why Use Networks” slide in the slide deck in Downloadable Resources section below.</em></td></tr>
<tr><th class="learningoutcomes">Treat mistakes as valuable data-literacy and content-learning moves.</td><td>If you see nodes or edges that don’t help with your lesson, point them out and help students find a way to revise them to address the lesson plan.</em></td></tr>
<tr><th class="learningoutcomes">Remember that data are about individual people.</td><td>Chat with your students about how to be respectful of their peers as they enter network data.</em></td></tr>
</table>

<h4 id="downloadable-resources">Downloadable Resources</h4>
<ul>
  <li><a href="/assets/classroomresources/NetworkAnalysisTeachingSlideDeck.pptx" target="_blank">Network-analysis teaching slides with terms, visual guides, and a "why networks" slide</a></li>
  <li><a href="/assets/classroomresources/Good_Disciplinary-Data-Literacy_Questions_To_Ask.pptx" target="_blank">Good questions to ask your students during a Net.Create lesson</a></li>
  <li><a href="/assets/classroomresources/Classroom_Management_Tips.pptx" target="_blank">Advice from Experienced Net.Create Middle-School Teachers</a>: Our partner teachers who have used Net.Create extensively in their own middle-school classrooms prepped a short set of recommendations for getting comfortable with Net.Create, prepping effective lessons and handling common classroom-management needs.</li>
</ul>
<h4 id="documentation-and-advice">Net.Create User Guide</h4>
<ul>
	<li><a href="https://netcreate.org/netcreate-userdocs/" target="_blank">Simple Net.Create documentation</a>, which includes:
	  <ul>
		 <li><a href="https://netcreate.org/netcreate-userdocs/docs/UserGuide/vocab/vocab.html" target="_blank">Learning basic network terms</a></li>
		 <li><a href="https://netcreate.org/netcreate-userdocs/docs/UserGuide/NodeSearch/nodeSearch.html" target="_blank">Finding a node</a></li>
		 <li><a href="https://netcreate.org/netcreate-userdocs/docs/UserGuide/nodeCreate/nodeCreate.html" target="_blank">Adding or editing a node</a></li>
		 <li><a href="https://netcreate.org/netcreate-userdocs/docs/UserGuide/edgeCreate/edgeCreate.html" target="_blank">Adding or editing an edge</a></li>
	  </ul>
	</li>
	<li>
	  <p><a href="https://youtu.be/au0A8By_tdE" target="_blank">An Expert Demonstrates Five Starter Steps to Explore a New-To-You Network in Net.Create (video)</a></p>

	</li>
 </ul>

